/*******RESET*******/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: fantasy;
    overflow-y: scroll;
}
/*********necessary********/
.button {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 2rem;
    border-radius: .5rem;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: uppercase;
    line-height: 0;
    font-family: Arial;
    width: 200px;
    height: 3.3rem;
    transform: 0.5s;
}
.button:hover {
    background-color: gray;
}
/***********Header****************/

.header-home-container {
    height: 100vh;
    width: 100%;
    background-image: url(https://janikvonrotz.ch/images/javascript-logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
}
.nav-container   {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 0.5%;
    background-color: transparent;
    position: fixed;
    width: 100%;
    transition: 0.5s;
    
    
}
.inicio {
    color: yellow;
    background-color: black;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 0.2rem;
}
.nav-container > .icono {
    display: flex;
    align-items: center;
    column-gap: 0.8px;
    text-decoration: none;
}
.navigation > .menu {
    display: flex;
    column-gap: 4rem;
    list-style-type: none;
}
.navigation > .menu > .menu-item > a {
    transition: 0.3s;
    
}
.navigation > .menu > .menu-item > a:hover {
    color: blue;
    
}
.home {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;
}
.home > h1 {
    color: rgb(0, 0, 0);
    font-size: 5rem;
    margin-bottom: 1rem;
}
.content {
    height: 100vh;
    background-color: rgb(248, 220, 61);
    padding: 2rem;
    text-align: center;
}
.nav-active {
    background-color: white;
}
